includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 6
    excludePaths:
    		- tests/Shared/Infrastructure/PhpUnit/UnitTestCase.php
    		- tests/Users/Infrastructure/UserModuleUnitTestCase.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
       - '#PHPDoc tag @var#'

